<div id="fullscreen_bg">
  <div class="layer"></div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-6">
      <div class="col-lg-5 col-md-6"></div>
      <div class="col-lg-7 col-md-6">
        <div class="logo_boxes">
          <img src="../../assets/Login/login_ellipse_logo.png" class="login_image">
          <span class="title_name">Cine Agents Association</span>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="col-lg-1 col-md-1"></div>
      <div class="col-lg-10 col-md-10">
        <div class="login_box">
          <span style="bottom: 10%">Login</span>
          <form action="/">
            <div class="form-group">
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Address">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div>
              <label>Forgot Password?</label>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div>
      </div>
      <div class="col-lg-1 col-md-1"></div>
    </div>


  </div>
</div>